@page "/fetchdata"
@using BlazorOdataDemo.Shared
@using BlazorOdataClient
@inject IHttpClientFactory HttpClientFactory

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<div class="input-group mb-3">
    <span class="input-group-text">Record Quantity</span>
    <input type="number"
           class="form-control"
           aria-describedby="button-create"
           @bind-value="@itemCount"
           disabled="@updateDisabled" min="0">
    <button class="btn btn-outline-secondary" type="button" id="button-create"
            @onclick="Update" disabled="@updateDisabled">
        Update
    </button>
</div>

<p>This component demonstrates a virtualized list from an OData endpoint on the server.</p>

<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Temp. (C)</th>
            <th>Temp. (F)</th>
            <th>Summary</th>
        </tr>
    </thead>
    <tbody>
        <OdataVirtualize @ref="view"
                         TItem="WeatherForecast"
                         EndPoint="WeatherForecast"
                         QueryString="$OrderBy=Date desc"
                         OverscanCount="4">

            <tr>
                <td>@context.Date.LocalDateTime.ToShortDateString()</td>
                <td>@context.TemperatureC</td>
                <td>@context.TemperatureF</td>
                <td>@context.Summary</td>
            </tr>

        </OdataVirtualize>
    </tbody>
</table>
