@page "/fetchdata"
@using BlazorOdataDemo.Shared
@using BlazorOdataClient
@inject HttpClient Http

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<input type="number" @bind-value="@seedCount" disabled="@seedDisabled" min="0" />
<button @onclick="Create" disabled="@seedDisabled">Create</button>

<p>This component demonstrates a virtualized list from and OData endpoint on the server.</p>

<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Temp. (C)</th>
            <th>Temp. (F)</th>
            <th>Summary</th>
        </tr>
    </thead>
    <tbody>
        <OdataVirtualize @ref="view" TItem="WeatherForecast" EndPoint="WeatherForecast">

            <tr>
                <td>@context.Date.DateTime.ToShortDateString()</td>
                <td>@context.TemperatureC</td>
                <td>@context.TemperatureF</td>
                <td>@context.Summary</td>
            </tr>

        </OdataVirtualize>
    </tbody>
</table>


@code {
    int seedCount = 5000;
    bool seedDisabled = false;
    OdataVirtualize<WeatherForecast>? view;

    async Task Create()
    {
        seedDisabled = true;
        await Http.PostAsJsonAsync("WeatherForecast", seedCount);
        seedDisabled = false;
        await view.RefreshDataAsync();
    }
}
